body {
    background-color: #FFFFFF;
    font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    color: black;
}
.main_img {
    width: 1000px;
    height: 140px;
    margin: 0 auto;
        overflow-x: hidden;
}
.main_img > a > img {
    padding-left: 365px;
    margin-top: 35px;
    width: 200px;
}
.main_img > a {
    float: left;
}
.main {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 8px grey;
    margin-bottom: 50px;
    background: #E9E9E9;
    overflow: hidden;
}
nav {
    background-color: #E9E3C8;
    height: 60px;
}
#search_panel {
    color: black;
    font: 15px "Trebuchet MS",sans-serif;
    margin-left: 10px;
    margin-top: 17px;
    position: absolute;
}
#search_panel > label > img {
    width: 18px;
    float: right;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 3px;
}
#search_panel > input[type="search"] {
    width: 250px;
}
#search_submit {
    display: none;
}
nav > ul {
    margin-right: 15px;
    float: right;
}
nav > ul > li {
    border-left: 1px dashed grey;
    color: #b30000;
    cursor: pointer;
    float: left;
    font: 13px "Trebuchet MS",sans-serif;
    margin-bottom: 2px;
    margin-top: 6px;
    padding: 16px 15px 15px;
}
nav > ul > li > a {
    text-decoration: none;
    color: #B30000;
    font: 13px "Trebuchet MS",sans-serif;
}
header {
    height: 150px;
}
aside {
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    display: inline-block;
    float: left;
    background: url("../img/aside_bookrossing_picture.png");
    background-size: 100%;
    cursor: pointer;
}   
.header-top {
    height: 100px;
    background: url("../img/header_top_img.jpg") repeat scroll 50% 49%;
}
.header-bottom {
    height: 50px;
    background: #A74842;
}
.header-bottom > ul {
    float: right;
}
.header-bottom > ul > li {
    color: #E6C9A1;
    float: left;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.header-bottom > ul > li > a {
    color: #E6C9A1;
    font: 17px "Trebuchet MS",sans-serif;
    text-decoration: none;
}
section {
    height: 200px;
    border-bottom: 2px solid grey;
    background: #FFFFFF;

}
.section_title {
    background: #6AA8A2;
    color: white;
    border-right: 1px dashed grey;
    font: 15px "Trebuchet MS",sans-serif;
}
.first_section {
    border-right: 1px dashed grey;
    float: left;
    display: inline-block;
    width: 330px;
    height: 100%;
}
.first_section > .bashlachev{
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
    background: url("../img/bashlachev.jpg") center;
    background-size: 100%;
    float: left;
    
}
.first_section > .bashlachev_text {
    color: #E6B677;
    background: #A74841;
    font: 25px "Trebuchet MS",sans-serif bold;
    padding-left: 125px;
    padding-top: 30px;
    border-bottom: 1px dashed grey;
    text-decoration: none;
}
.first_section > .bashlachev_text > a {
    color: #E6B677;
    text-decoration: none;
}
.first_section > .bashlachev_text:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
        
.first_section > .shalamov {
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
    background: url("../img/shalamov.jpg")  no-repeat;
    background-size: 100%;
    float: left;
}
.first_section > .shalamov_text  {
    color: #E6B677;
    background: #A74841;
    font: 25px "Trebuchet MS",sans-serif bold;
    padding-left: 125px;
    padding-top: 25px;
    text-decoration: none;
}
.first_section > .shalamov_text > a {
    color: #E6B677;
    text-decoration: none;
}
.first_section > .shalamov_text:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
.second_section {
    float: left;
    display: inline-block;
    width: 330px;
    height: 100%;
    border-right: 1px dashed grey;
    background: url(../img/booktrailer.jpg) no-repeat 30%;
    background-size: 100%;
}
.second_section a {
     display: block; 
     text-align: center; 
     height: 100%; 
     color: #666; 
}
.third_section {
    display: inline-block;
    width: 330px;
    height: 100%;
}
.banner {
    height: 100px;
    margin: auto;
}
.banner > img {
    height: 165px;
}
main {
    height: 600px;
    border-bottom: 2px solid grey;
}
.first_main {
    border-right: 1px dashed grey;
    float: left;
    width: 330px;
    display: inline-block;
    height: 100%;
}
.news {
    height: 200px;
    padding-top: 12px;
    padding-left: 5px;
    border-top: 1px dashed grey; 
}
.news:first-child {
    border-top: 0px dashed grey; 
}
.news > img {
    height: 150px;
    width: 150px;
    border: 1px solid grey;
    float: left;
}

.title_for_box {
    margin-left: 190px;
    background: #536386;
    width: 90px;
    color: white;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font: 16px "Trebuchet MS",sans-serif bold;
}
.news > .news_text {
    padding-left: 160px;
    padding-top: 5px;

}
.news > .news_text > a {
    color: black;
}
.second_main {
    border-right: 1px dashed grey;
    float: left;
    width: 330px;
    display: inline-block;
    height: 100%;
}
.today {
   margin-top: 265px;
}
.box_for_title {
    border: 3px solid #536386;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.today_number {
    font: 25px "Trebuchet MS",sans-serif bold;
    text-align: center;
}
.today_action {
    text-align: center;
    font: 15px "Trebuchet MS",sans-serif;
}
.third_main {
    width: 330px;
    display: inline-block;
    height: 100%;
}
.third_main > .news {
    padding-top: 0px;
}
footer {
    height: 120px;
    background: #FFFFFF;
}
footer > .main_footer > ul {
    margin-left: 20px;
}
footer > .main_footer > ul > li > a {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #DCCCDC;
    padding-left: 3px;
    padding-right: 3px;
    color: black;
    font: 11px "Trebuchet MS",sans-serif;
}
footer > .main_footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
.small_footer {
    height: 50px;
    margin-top: 20px;
}
.small_footer > a > img {
    height: 50px;
    margin-left: 20px;
    float: left;
}
.list_of_news {
    background: #EAEAEA;
}
.list_of_news > .box_for_title {
    height: 100px;
    display: inline-block;
    width: 100%;
    border: 1px solid grey;
    margin: 0px;
    border-right: 0px solid black;
    border-left: 0px solid black;
}

.list_of_news > .box_for_title > .title_for_box {
    margin: 0px;
    margin-top: -10px;
    background: grey;
}
.list_of_news > .box_for_title > .img_for_news {
    height: 91px;
    width: 100px;
    float: left;
    margin-right: 30px;
}
.list_of_news > .box_for_title > .img_for_news > img {
    height: 91px;
    width: 100px;
}
.list_of_news > .box_for_title > .mini_text_for_news > a {
    color: black;
    font: 15px "Trebuchet MS",sans-serif;
    margin-left: 20px;
    text-indent: 20px;
    padding-right: 20px;
}
.services_table {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.periodic_table {
    width: 300px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}
.clear {
    clear: both;
}
.periodic_table > .box_for_title {
    width: 100%;
    margin: 0px;
}

.periodic_table > .box_for_title > .title_for_box:first-child {
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-top: -10px;
    padding-bottom: 5px;
}
.periodic_table > .box_for_title > .title_for_box{
    margin-top: 10px;
    margin-left: 2px;
    padding-top: 5px;
}
.periodic_table > .box_for_title > ol {
    padding-left: 35px;
    padding-top: 5px;
    font: 13px "Trebuchet MS",sans-serif;
    border: 1px solid #536386;
    margin-left: 2px;
    margin-bottom: 5px;
    border-top: 1px solid #536386;
    border-right: 0px solid black;
}

.mode {
    display: inline-block;
    width: 500px;
    margin-left:30px; 
    margin-top: 0px;
}
.mode > .title_for_box {
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
}
.mode > .box_for_title {
    padding: 20px;
}
.adress {
    display: inline-block;
    width: 300px;
    margin-left:30px; 
    
}
.adress > .title_for_box {
        width: 200px;
    margin-left: 50px;
    margin-top: 15px;
}
.adress > .box_for_title {
        padding: 10px;
}


.base {
    display: inline-block;
    width: 400px;
    margin-left:30px;   
}
.base > .title_for_box {
    width: 300px;
    margin-left: 40px;
    margin-top: 15px;
}
.base > .box_for_title {
    padding: 10px;
}
.about_city {
    padding: 20px;
}
.recommendations {
    padding: 20px;
}
.competitions {
    padding: 20px;
}
.clubs {
    padding: 20px;
}
article {

    height: auto;
    padding: 20px;
}
article  hr {
    display: block;
    height: 1px;
    background: black;
    width: 90%;
    color: black;
    box-shadow: 1px 1px 1px black;
}
article > .title_of_news {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-size: 2.125rem;
    font-style: italic;
    font-weight: 700;
    line-height: 2.375rem;
    position: relative;
    right:10%;
    left:10%;
    max-width: 800px;
}
.title_of_news {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-size: 2.125rem;
    font-style: italic;
    font-weight: 700;
    line-height: 2.375rem;
    position: relative;
    right: 10%;
    left: 10%;
}
article > .author_of_article {
    font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
}
article > .date_of_article {
    font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
}
article > .content {
    font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    width: 800px;
    padding-left: 75px;
    padding-top: 20px;
}
article > .img_for_content {
    width: 800px;
    padding-top: 30px;
    margin-left: 75px;
}
.add_form {
    margin-top: 30px;
    width: 800px;
    margin-left: 250px;
    height: 350px;
}
add_form > form > textarea {
    height: 300px;
}
.message {
    border: 1px solid black;
    display: block;
    margin-top: 20px;
    padding: 20px;
}
.message > .date_of_message {
        font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    color: red;
    float: left;
}
.message > .author_of_message {
        font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    text-decoration: underline;
    color: blue;
    float: left;
    padding-left: 100px;
}
.message > .text_of_message {
        font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
}
.message > .email {
        font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    color: fuchsia;
    padding-left: 425px;
}
.albums > .album {
    float: left;
}
.album {
    padding: 10px;
    margin: 10px;
}
.albums:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
.album > .box_for_title > .title_for_box > a {
    color: inherit;
    cursor: pointer;
}
.album > .box_for_title {
    width: 250px;
    height: 250px;
}
.album > .box_for_title > .title_for_box {
    margin: 0px;
    padding: -10px;
    margin: -20px 40px 0;
    box-shadow: 3px 3px 3px #536386;
    width: auto;
}
.album > .box_for_title > img {
    width: 100px;
    max-height: 250px;
    padding-left: 60px;
    padding-top: 50px;
}
.mini_photo_container > .photo_mini {
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
}
.photo_mini > img {
    max-width: 100px;
    max-height: 100px; 
}
.mini_photo_container > .photo_mini:nth-child(1) {
    display: none;
}
.mini_photo_container > .photo_mini:nth-child(2) {
    display: none;
}
a.bread {
    font-family: georgia,"times new roman",times,serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    color: black;
}
.list_of_docs{
    padding: 20px;
    
}
.list_of_docs > a {
    color: black;
}
.library_name{
    float:left;
}
.filial {
    position: relative;
    bottom: 25px;
    left: 235px;
}
.breadcrumbs {
    padding-left: 330px;

}
.page404 {
    width: 100%;

}
/*общие стили для форм*/
.article_mod, .today_is_mod, .afisfa_mod, .album_mod {
    background-color: #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    float: left;
    color: #ff8b3d;
    font-weight: normal;
}
.clearfix {
    content: ".";
    height: 0px;
    display: table;
    clear: both;
    visibility: hidden;
}
.article_mod h1, .today_is_mod h1, .afisfa_mod h1, .album_mod h1{
    background-color: #292829;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.article_mod fieldset, .today_is_mod fieldset, .afisfa_mod fieldset, .album_mod fieldset{
    border: none;
    padding: 20px;
    padding-top: 0px;
    position: relative;
}

.article_mod fieldset form, .today_is_mod fieldset form, .afisfa_mod fieldset form, .album_mod fieldset form{
    width: 300px;
}

.article_mod fieldset form input, .today_is_mod fieldset form input, .afisfa_mod fieldset form input, .album_mod fieldset form input{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  -webkit-appearance:none;
  width: 260px;
  align: center;
  position: center;


}

.article_mod fieldset form input[type="text"], .today_is_mod fieldset form input[type="text"], .afisfa_mod fieldset form input[type="text"], .album_mod fieldset form input[type="text"]{
    border: 1px solid #292829;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    padding: 12px 10px;
    width: 238px;
    -webkit-appearance:none;
}

.article_mod fieldset form input[type="date"], .today_is_mod fieldset form input[type="date"], .afisfa_mod fieldset form input[type="date"], .album_mod fieldset form input[type="date"]{
    border: 1px solid #292829;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    padding: 12px 10px;
    width: 238px;
   -webkit-appearance:none;
}

.article_mod fieldset form select, .today_is_mod fieldset form select, .afisfa_mod fieldset form select, .album_mod fieldset form select{
    border: 1px solid #292829;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    padding: 12px 10px;
    width: 260px;
    -webkit-appearance:none;
}

.article_mod fieldset form textarea, .today_is_mod fieldset form textarea, .afisfa_mod fieldset form textarea, .album_mod fieldset form textarea{
    border: 1px solid #292829;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    padding: 12px 10px;
    width: 238px;
    -webkit-appearance:none;
}

.article_mod fieldset form input[type="submit"], .today_is_mod fieldset form input[type="submit"], .afisfa_mod fieldset form input[type="submit"], .album_mod fieldset form input[type="submit"]{
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 2px;
    padding: 5px 5px;
    -webkit-appearance: none;
    max-width: 235px;
    opacity: 0.8;
    transition: all 0.3s;
}

.article_mod fieldset form input[type="submit"]:hover, .today_is_mod fieldset form input[type="submit"]:hover, .afisfa_mod fieldset form input[type="submit"]:hover, .album_mod fieldset form input[type="submit"]:hover {
    background-color: #e0e0e0;
    opacity: 1;
}

.article_mod fieldset form input[type="reset"], .today_is_mod fieldset form input[type="reset"], .afisfa_mod fieldset form input[type="reset"], .album_mod fieldset form input[type="reset"]{
    background-color: #FF4040;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 2px;
    padding: 5px 5px;
    -webkit-appearance: none;
    max-width: 20px;
    opacity: 0.5;
    transition: all 0.3s;
}

.article_mod fieldset form input[type="reset"]:hover, .today_is_mod fieldset form input[type="reset"]:hover, .afisfa_mod fieldset form input[type="reset"]:hover, .album_mod fieldset form input[type="reset"]:hover {
    background-color: #FF4040;
    opacity: 1;
}

.article_mod fieldset form span:before, .today_is_mod fieldset form span:before, .afisfa_mod fieldset form span:before, .album_mod fieldset form span:before{
    background-color: #c9c9c9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: "?";
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}
#article_edit, #today_is_edit, #afisfa_edit, #album_edit{
    min-width: 275px;
    max-width: 275px;
}